* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: gray;
    color: seashell;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button, input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.error-message {
    color: red;
}

ul {
  list-style: none;
}

.hidden {
    display: none;
}

a {
  text-decoration: none;
  color: black;
}

#results {
    border-style: groove;
  }
  
  #yelp-results {
    border-style: groove;
  }