* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: gray;
    color: seashell;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#results {
  border-style: groove;
}

#yelp-results {
  border-style: groove;
}

button, input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.error-message {
    color: red;
}

ul {
  list-style: none;
  background-color: gray;
  padding: 0;
}

.hidden {
    display: none;
}

a {
  text-decoration: none;
  color: black;
}

.introPara {
    background: #333;
    color: seashell;
    padding: 20px;
}

nav {
    background-color: #333;
    width: 100%;
    

}

h1 {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://mcdn.wallpapersafari.com/medium/19/69/iJCYR3.jpg');
}

.searchterm{
    color: black;
}

h2 {
    background-color: #333;
    padding: 10px;
}